.Header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  /* other styles */
}
.settings{
  left: 0;
  height: 80px;
  width: 80px;
 
}
.settings>button{
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: white;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}