#formLogin {
    padding: 30px; 
    background-color: white; 
    margin: 0 40%; 
    border-radius: 6px; 
    margin-top: 10rem;
}

form {
    padding-bottom: 10px; 
    border-bottom: 1px solid #D9D9D9;
}